:root {
  --container-width: 960px;
  --container-padding: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
