---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "EIGHT BY FIVE.",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
  }
---

<Layout
  seo={seo}
>
  <Container>
    <nav>
      <h1>EIGHT BY FIVE.</h1>
      <p class="menu">MENU</p>
    </nav>
    <p class="sub-text">写真を撮りながらヨーロッパを旅しています。<br>自分のなりの言葉で、ゆったりとした歩幅で。</p>
    <p>
      <a
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer">Astro</a>についてまだ知らないなら、あなたは損をしている。この「スターターリポジトリ」は、Markdownで書かれた記事を持つブログ・ウェブサイトを提供してくれる。
    </p>

    <p>
      このスターターのシンプルさに騙されてはいけない。優れたSEOが組み込まれ、Astroの優れた開発者環境とパフォーマンスのベストプラクティスがあり、マークダウンで書かれた記事を持つ個人ブログの最高の基盤の1つを手に入れることができます。このような骨太なスタイルのスターターを作った理由は、SEOとサイト構造のために必要なものはすぐに使えるが、どのように見えるか、どのように振る舞うかについては一切想定していないからだ。
    </p>

    <p>
      時々、スターターは私たちに与えすぎているように感じることがあり、あなたが実際に望んでいたセットアップに到達するために、コードの半分をバラバラにすることに1日を費やすことになるでしょう。TailwindやScssの代わりにバニラCSSを使いたい？問題ありません！
    </p>

    <a href="/blog">ブログ →</a>
  </Container>
</Layout>
